body{background-color: #000;}
.clear{clear:both;}
#ventana,#ventana_alta{
		background-color: #FFF;
		border:2px solid #adadad;
		box-shadow: 5px -3px 3px #aaa;
		-moz-box-shadow: 5px -3px 3px #aaa;
		-webkit-box-shadow: 5px -3px 3px #aaa;
		padding:5px;
		display:none;
}
#ventana h2 a{color: #333;}
h2.registrate a{color: #229922;}
#ventana a{font-weight: bold;}
#help{
	border:1px solid #CDCDCD;
	padding:5px;
	background-color:#F2CC87;
	color:#111;
	display:none;
	text-align:justify;
}
.help{cursor:pointer;}
p{margin:3px 0;}
.ausentes span{display: inline-block;padding:4px;margin:4px;width:120px;text-align: center;}
.cerrar_ventana{text-align: center;background-color:#669966;padding:5px;}
.cerrar_ventana a{text-decoration:none;color:#000;}
#contenedor{width:1000px;margin:0 auto;}
#menu_sup ul li span{
	display: inline-block;
	background:url('../images/Bookactive.png') no-repeat;
	width:98px;
	height:34px;
}
#menu_sup ul li span:hover{background: url("../../images/Bookactiveverde.png") no-repeat;}
#buscador{
	border:1px solid #CCC;
	background-color: #DDD;
	padding:5px;
	margin:10px;
}
#buscador{text-align: center;}
#buscador h3{text-align: center;}
.wrap_dats_empresa{border:1px solid #CCC;background-color: #FFFFFF;padding:5px;}
.tablaForm{border:0px;border-spacing: 8px;width:100%;}
#menu_empresas,#lista,#formulario,.list_estil,.camp_form{
	border:1px solid #CCC;
	background-color: #DDD;
	padding:5px;
	margin:10px;
	box-shadow: 0 1px 3px #888;
   -moz-box-shadow: 0 1px 3px #888;
   -webkit-box-shadow: 0 1px 3px #888;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}
.btnsubmit{
	float:right;padding:10px;clear:both;
	background-color: #CDCDCD;
	border:2px solid #adadad;
	border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   width:120px;
   text-align: center;
   margin-right:10px;
}
.btnsubmit a{font-size:18px;}
#formulario{text-align: center;width:450px;margin:0 auto;}
#menu_empresas span, .menu_empresa span{padding:5px;margin:3px;border-right: 1px solid #CCC;}
#menu_empresas span a, .menu_empresa span a{color:#333;text-decoration: none;font-weight: bold;}
#estilistas{background:#111;}
#tabla_estilistas{width:730px;float:left;}
#menu_drch{
	width:260px;
	float:right;
	text-align:center;
	color:#CCC;
	margin-top: 2px;
}
#menu_drch h3{
	background:url('../images/fondomenu.jpg') repeat-x #666;
	padding:4px;	
}
table.tabla_horario td.tdhorario,#tabla_estilistas tr td.hor {width:100px;}
table.tabla_horario{
	border-collapse:collapse;
	border-spacing:0px;
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select.none;
	width:713px;
}
table.tabla_horario tr td{}
table tr td.foto_estil,table.tabla_horario td.tdhorario{
	background:url('../images/fondo_foto.jpg') no-repeat center #333235;
	color:#DDD;
	font-size:0.8em;
	text-align:center;
}
table tr td.foto_estil span{
	background:url('../images/fondo_nombre_estil.jpg') repeat-x #000;
	padding:2px;
	display:block;
}
table tr td.foto_estil span a{color:#fff;text-decoration: none;}
table tr td.foto_estil span a:hover{text-decoration: underline;}
.content_tabla_horario{height:600px;overflow-y:scroll;}
#tabla_estilistas tr td{vertical-align: middle;}
#tabla_estilistas tr td.hor span a, #tabla_estilistas tr td.hor_estil span a{
	text-decoration:none;
	color:#DDD;
}
#tabla_estilistas tr td.hor span, #tabla_estilistas tr td.hor_estil span{
	padding:4px;
	display: block;
	background-color: #333;
	color:#fff;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	font-size: 12px;
	height:30px;
}
#tabla_estilistas tr td.hor span.cli, #tabla_estilistas tr td.hor_estil span.cli{padding:4px 2px;}
.hor_estil{color:#fff;}
.cli a{display:inline-block;width:100%;height:100%;}
span.pasada_si a,span.pasada_cl a,span.pasada_no a,span.pasada_oc a,
span.sugerido a,span.sugeridop a{}
#tabla_estilistas tr td.hor_estil span.pasada_si{background-color: #b15f5f;color:#000;}
#tabla_estilistas tr td.hor_estil span.pasada_cl{
	background-color: #87b9de;
	color:#000;
	font-size: 0.8em;
	text-transform: capitalize;
}
#tabla_estilistas tr td.hor_estil span.pasada_no{background-color: #9ad460;color:#000;}
#tabla_estilistas tr td.hor_estil span.pasada_oc{background-color: #b15f5f;color:#000;}
#tabla_estilistas tr td.hor_estil span.sugerido{background-color: #9ff946;color:#111;}
#tabla_estilistas tr td.hor_estil span.sugeridop{background-color: #9ff946;color:#111;}
#tabla_estilistas tr td.hor_estil span.sugeridop a, 
#tabla_estilistas tr td.hor_estil span.sugerido a{color:#111;}
#tabla_estilistas tr td.hor_estil span.pasada_no a{color:#000;}
.tpropio{cursor:pointer;}

/*edicion de servicios y estilistas*/
#dame_hora_actual{
	font-size:33px;
	font-weight:bold;
	text-align:center;
	color:#7777ff;
}
.un_estil{
	width:120px;
	float:left;
	padding:4px;
	text-align: center;
}
.un_estil a{font-size:13px;text-decoration:none;color:#070;}
#datos_est form input{width:40px;margin:2px;padding:2px;font-size:13px;}

/*pagina de crear_servicios_y_estilistas.php */
.menu_serv_estil{padding:5px;border:1px solid #CCC;background-color: #DDD;}
.menu_serv_estil table{border-spacing: 0px;padding:0px; }
.capa_servicio{height:34px;border-bottom: 1px solid #CCC;}
table.table_serv_estil{text-align:center;}
table.table_serv_estil tr th{background-color: #666;padding:5px;color:#fff;}
table.table_serv_estil a{text-decoration: none;color:#555;}
#fixed{position: fixed;background-color: #CDCDCD;height:210px;}
.dats_ser_estil{margin-top:215px;}
.menu_serv_estil form input.edit_ser{width:140px;}
.menu_serv_estil form input.edit_porc{width:20px;}
.menu_serv_estil form input{width:40px;margin:2px;padding:2px;font-size:13px;}
.menu_serv_estil form input.boton_enviar{width:80px;}
.menu_serv_estil form input.boton_enviar:hover{cursor:pointer;}
.menu_serv_estil form img:hover{cursor:pointer;}
#datos_est form input{width:40px;margin:2px;padding:2px;font-size:13px;}

.wrap_cheq{height:35px;}
.estilistas{width: 530px;float:right;text-align: center;}
.estilista{float:left;width:100px;border:1px solid #999;margin: 2px;padding:2px;}
.estilista a{font-size:13px;text-decoration:none;color:#070;}
.estilista input{width:100px;text-align:center;}
#news_serv_estil{font-size:14px;}
#news_serv_estil a{color:#fff;}
#news_serv_estil span:first-child{float:left;}
#news_serv_estil span:last-child{float:right;}
.list_servicios{text-align:left;height:500px;overflow:auto;}
#lista_clientes{height:110px;overflow:auto;}
#lista_servicios{height:210px;overflow:auto;}
.list_servicios a{text-decoration:none;}
.li_cat a{color:#DDD;font-weight:bold;}
ul.list_serv{display:none;}
.list_serv li a{font-weight:normal;}
.list_serv li{margin-left:8px;}
#elegir_cli{cursor:pointer;}

/*editar clientes*/
.table_cilentes{width:100%}
.table_cilentes tr td{
	vertical-align: top;
	text-align: left;
	padding:4px;
	background-color: #999;
}
.table_cilentes tr th{background-color: #666;color:#fff;padding:4px;}

/*edit datos*/
.form_alta_l, .form_alta_r{
	width: 440px;
	min-height:510px;
	padding:5px;
	border:1px solid #CCC;
	background-color: #DDD;
	margin:10px;
	box-shadow: 0 1px 3px #888;
   -moz-box-shadow: 0 1px 3px #888;
   -webkit-box-shadow: 0 1px 3px #888;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}
.form_alta_l{float:left;}
.form_alta_r{float:right;}
img#mostrar_imagen{float:right;}
.form_alta_r textarea{width:340px;height;6px;}

/*zona derecha cli del horario*/

/*pie*/
.pie a{color:#fff;}
.pie{
	background-color:#000;
	height:50px;
	padding:4px;
	color:#fff;
	text-align:center;
}
.pie span{
	display: inline-block;
	background:url('../images/Bookactive2.png') no-repeat #000;
	width:90px;
	height:34px;
	line-height: 34px;
    text-align: center;
    vertical-align: middle;
}

