html, body, div, span, small, big, object, iframe, h1, h2, h3, h4, h5, h6, pre, a, abbr, blockquote, acronym, address, code, del, dfn, dl, dt, dd, em, img, q, ol, ul, li, fieldset, form, label, input, textarea, select, legend, caption, tbody, tfoot, thead, b, p 
	{
	margin:0;
	padding:0;
	border:0;
	outline:none;
	list-style:none;
	}

body 
	{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	}
	
img {
	border:0;
	}
	
a, a:hover 
	{
	text-decoration:none;
	outline:none;
	}

/* headings stylization */
h1, h2, h3, h4, h5, h6 
	{
	padding:0;
	margin:0;
	font-weight:normal;
        font-size:0;
	}

/* headings stylization */
/* setting */
.float-left
	{
	float:left;
	}

.float-right
	{
	float:right;
}
.clear{clear:both;}
