#banner {
background : url("/common/home/images/banner_bg_repeat.jpg") top repeat-x;
overflow : hidden;
width : 105%;
position : relative;
left : -50px;
}
#banner_inner {
background : url("/common/home/images/banner_bg_main.jpg");
background-repeat : no-repeat;
max-width : 940px;
margin : auto;
height : 280px;
}
.banner_content {
max-width : 440px;
padding : 30px 10px 20px 30px;
color : white;
}
.banner_content h1 {
margin-top : 10px;
font-size : 28px;
font-weight : bold;
padding-bottom : 2px;
margin : 0 0 5px 0;
color : #bee182;
text-shadow : #43545e 0 1px 0;
position : relative;
}
.banner_content h2 {
font-size : 24px;
margin : 5px 0 15px 0;
font-weight : normal;
padding-bottom : 2px;
}
#banner_landingpages {
background : url("/common/home/images/banner_bg_repeat.jpg") top repeat-x;
background-position : 0 -50px;
overflow : hidden;
width : 105%;
position : relative;
left : -50px;
}
#banner_inner_landingpages {
background : url("/common/home/images/banner_bg_main.jpg");
background-repeat : no-repeat;
background-position : 0 -50px;
max-width : 940px;
margin : auto;
height : 230px;
}
.banner_content_landingpages {
max-width : 640px;
padding : 0 10px 20px 30px;
color : white;
}
.banner_content_landingpages p {
font-size : 15px;
font-family : Arial;
}
.banner_content_landingpages h1 {
margin-top : 10px;
font-size : 28px;
font-weight : bold;
padding-bottom : 2px;
margin : 0 0 5px 0;
color : #bee182;
text-shadow : #43545e 0 2px 0;
}
.banner_content_landingpages h2 {
font-size : 21px;
margin : 5px 0 15px 0;
font-weight : normal;
padding-bottom : 2px;
}
.banner_bullet_landingpages {
font-size : 13px;
font-family : Arial;
}
.banner_bullet_landingpages img {
position : relative;
top : 4px;
padding : 3px 5px 3px 5px;
width : 20px;
}
.banner_bullet {
font-size : 13px;
font-family : Arial;
}
.banner_bullet img {
position : relative;
top : 4px;
padding : 3px 5px 3px 5px;
width : 20px;
}
.banner_sublink {
padding : 5px 0 5px 5px;
font-size : 14px;
}
.banner_sublink a {
color : white;
text-decoration : none;
}
#products, .bodycontent_head {
background : url("/common/home/images/product_bg_repeat.png") top repeat-x;
overflow : hidden;
width : 105%;
position : relative;
background-color : #ecebeb;
left : -50px;
}
#products_inner, .bodycontent_head_inner {
background-color : #ecebeb;
margin : auto;
padding : 40px 10px 0 10px;
}
#products_inner {
background : url("/common/home/images/product_bg_main.jpg");
max-width : 960px;
height : 190px;
max-height : 190px;
}
.bodycontent_head_inner {
max-width : 850px;
width : 850px;
background : url("/common/home/images/product_bg_repeat.png") top repeat-x;
margin-bottom : 15px;
background-color : #ecebeb;
position : relative;
}
#products_inner_landingpages {
max-width : 960px;
background : url("/common/home/images/product_bg_landingpage.png");
margin : auto;
height : 190px;
max-height : 215px;
height : 215px;
padding : 15px 10px 0 10px;
}
.line_seperator {
background : url("/common/home/images/line_break.png") top repeat-x;
margin : auto;
overflow : hidden;
width : 1100px;
height : 2px;
padding : 3px 0 3px 0;
}
.products_item {
width : 160px;
height : 80px;
margin-left : 20px;
border-color : #eeeeee;
border-style : solid;
border-width : 3px;
color : #dddddd;
background-color : white;
font-size : 13px;
font-style : italic;
font-weight : bold;
padding : 10px 10px 10px 10px;
}
.products_learnmore {
text-align : center;
padding-top : 5px;
}
.products_item img {
position : relative;
left : 8px;
top : 1px;
width : 70px;
}
.products_item h2 {
font-size : 20px;
margin : 2px 0 10px 0;
font-style : normal;
color : #555555;
}
.products_item h3 {
margin : 7px 0 0 0;
font-size : 25px;
font-style : normal;
color : #99ccff;
}
#press {
max-width : 900px;
margin : auto;
text-align : left;
}
a.pagebutton {
font-size : 13px;
color : #111;
text-decoration : none;
display : block;
width : 80px;
min-width : 80px;
padding : 5px;
margin-right : 4px;
border : 1px solid #ddd;
text-align : center;
background : #f0f0f0;
}
a.pagebutton:hover {
color : #3278be;
border-color : #3278be;
}
#bodycontent, .bodycontent {
background-color : #ecebeb;
overflow : hidden;
width : 105%;
position : relative;
left : -50px;
}
#bodycontent_inner, .bodycontent_inner {
font-family : arial;
font-size : 12px;
max-width : 850px;
margin : auto;
padding : 0 15px 0 15px;
}
#bodycontent_head, .bodycontent_head {
margin-top : -5px;
}
.bodycontent_head_inner h1 {
color : #177ba4;
margin : 0;
padding : 0;
margin-top : 15px;
padding-bottom : 5px;
}
.bodycontent_head_inner p, .bodycontent_inner p {
color : #666666;
font-size : 15px;
line-height : 1.2;
}
.tabletext {
color : #666666;
font-size : 14px;
line-height : 1.2;
}
.bodycontent_inner li .title {
background : none 0% 0% repeat scroll transparent;
border-bottom : medium none;
font-size : 120%;
font-family : Arial;
letter-spacing : -1px;
line-height : 1.4em;
margin : 0 0 0.2em;
padding : 0;
font-weight : normal;
text-transform : none;
}
.bodycontent_inner h2 {
font-size : 100%;
font-weight : bold;
margin : 0;
color : #177ba4;
padding-top : 15px;
padding-bottom : 10px;
}
.bodycontent_inner .section {
clear : both;
display : block;
margin-bottom : 40px;
margin-top : 0;
position : relative;
width : 100%;
}
.bodycontent_inner .step-number {
color : #99ccff;
font-size : 200%;
font-weight : bold;
left : -60px;
position : absolute;
vertical-align : top;
top : 0;
}
.bodycontent_inner li {
color : #555;
line-height : 1.5;
margin-left : 0;
font-size : 13px;
margin-top : 10px;
padding-bottom : 5px;
position : relative;
width : 660px;
}
.bodycontent_inner ol {
border-top : 1px solid #eeeeee;
margin : 10px 0 0;
padding : 10px 0 10px 60px;
}
.bodycontent_inner ol, ul {
list-style : none;
}
.brief_subheading {
color : #356aa0;
font-size : 14px;
margin-bottom : 7px;
}
.brief_content {
margin-top : 15px;
}
.inline_testimonial span.open {
font-family : Times, "Times New Roman";
font-weight : bold;
position : relative;
top : -0.2em;
font-size : 3em;
color : #bbb;
}
.inline_testimonial span.close {
font-family : Times, "Times New Roman";
font-weight : bold;
position : relative;
top : 0.4em;
font-size : 3em;
color : #bbb;
}
.inline_testimonial {
font-family : Times, "Times New Roman";
color : #777777;
font-size : 1.7em;
}
.inline_testimonial_author {
font-family : Times, "Times New Roman";
font-weight : bold;
color : #a4a4a4;
font-size : 2em;
}
.main-table-white {
text-align : left;
padding : 3px 10px 3px 10px;
margin : 10px 5px 5px 5px;
background-color : #ffffff;
border-width : 1px;
border-color : #dddddd;
border-style : solid;
font-family : arial;
font-size : 12px;
}
.main-table-white h3 {
margin : 0;
font-size : 13px;
color : #555555;
}
.main-table-clear {
text-align : left;
padding : 3px 5px 3px 5px;
margin : 0 5px 5px 5px;
font-family : arial;
font-size : 12px;
}
.main-table-clear h3 {
margin : 0;
padding-bottom : 15px;
font-size : 14px;
color : #555555;
}
.datagrid-table-simple {
border-collapse : collapse;
font-size : 12px;
}
.datagrid-table-simple a {
font-size : 12px;
color : #356aa0;
}
.featured-designer-panel {
width : 450px;
text-align : left;
font-size : 12px;
padding : 5px 5px 5px 5px;
margin : 5px 5px 5px 5px;
border-style : solid;
border-width : 1px;
border-color : #dddddd;
vertical-align : middle;
background-color : #f5f5f5;
}
.panel-heading-simple {
padding : 5px 5px 0 5px;
vertical-align : middle;
}
.main-table-header {
border-bottom : 1px solid #eeeeee;
padding : 10px 5px 10px 5px;
}
.panel-heading-simple h3 {
margin : 0;
color : #4b4c4c;
font-size : 18px;
font-weight : bold;
padding : 5px 5px 5px 5px;
vertical-align : top;
}
.table-showall-button {
text-align : center;
font-family : Trebuchet MS;
padding-top : 10px;
padding-bottom : 30px;
background-image : url(/common/home/images/page_silver_button.png);
background-repeat : no-repeat;
}
.clear {
overflow : hidden;
width : 100%;
}
a.button {
background : url('/common/home/images/bg_button_a.png') right top no-repeat scroll transparent;
color : #444;
display : block;
float : left;
font : bold 15px arial, sans-serif;
height : 36px;
margin-right : 6px;
padding-right : 5px;
text-decoration : none;
}
a.button span {
background : url('/common/home/images/bg_button_span.png') no-repeat transparent;
display : block;
line-height : 26px;
padding : 5px 0 5px 18px;
}
a.button:active {
background-position : right bottom;
color : #000;
outline : none;
}
a.button:active span {
background-position : left bottom;
padding : 6px 0 4px 18px;
}
.slider-table .header td {
font-size : 1px;
font-weight : bold;
font-family : Arial;
color : #356aa0;
padding : 0 0 0 0;
}
.basic-table {
border-style : none;
border-color : black;
border-width : 0;
padding : 10px 0 0 0;
border-collapse : collapse;
}
.basic-table td {
font-size : 12px;
border-style : solid;
border-color : black;
border-width : 0;
padding : 5px 0 15px 0;
}
.basic-table .header td {
font-size : 12px;
font-weight : bold;
font-family : Arial;
color : #356aa0;
padding : 10px 0 0 0;
}
.slider-table {
border-style : none;
border-color : black;
border-width : 0;
padding : 0 0 0 0;
}
.slider-table td {
padding : 1px 0 0 0;
}
.headerspan {
font-size : 12px;
font-weight : bold;
font-family : Arial;
color : #356aa0;
padding : 10px 0 0 0;
}
a {
text-decoration : none;
font-family : Arial;
color : #356aa0;
}
a:hover {
text-decoration : underline;
}
.divContent {
padding : 5px 0 0 0;
font-family : Arial;
color : black;
margin : 0 0 0 0;
border-width : 1px;
border-top-style : none;
border-bottom-style : none;
border-left-style : solid;
border-right-style : solid;
border-color : #006893;
}
.divBottom248 {
padding : 5px 0 5px 0;
font-family : Arial;
color : white;
font-weight : bold;
text-align : center;
font-size : 14px;
margin : 0 0 0 0;
background-image : url(/common/home/images/BorderBottom248.png);
background-repeat : no-repeat;
}
.divBottom510 {
padding : 8px 0 8px 0;
font-family : Arial;
color : white;
font-weight : bold;
text-align : center;
font-size : 14px;
margin : 0 0 0 0;
background-image : url(/common/home/images/BorderBottom510.png);
background-repeat : no-repeat;
}
.divBottom778 {
padding : 5px 0 5px 0;
font-family : Arial;
color : white;
font-weight : bold;
text-align : center;
font-size : 14px;
margin : 0 0 0 0;
background-image : url(/common/home/images/BorderBottom778.png);
background-repeat : no-repeat;
}
.divHeader778 {
padding : 3px 0 5px 0;
font-family : Arial;
color : white;
font-weight : bold;
text-align : center;
font-size : 15px;
margin : 0 0 0 0;
background-image : url(/common/home/images/HeaderBlank778New.png);
background-repeat : no-repeat;
}
.divHeader510 {
padding : 3px 0 5px 0;
font-family : Arial;
color : white;
font-weight : bold;
text-align : center;
font-size : 15px;
margin : 0 0 0 0;
background-image : url(/common/home/images/HeaderBlank510New.png);
background-repeat : no-repeat;
}
.divHeader248 {
padding : 3px 0 5px 10px;
font-family : Arial;
color : white;
font-weight : bold;
text-align : left;
font-size : 15px;
margin : 0 0 0 0;
background-image : url(/common/home/images/HeaderBlank248New.png);
background-repeat : no-repeat;
}
.divHeader778New {
padding : 3px 0 5px 0;
font-family : Arial;
color : white;
font-weight : bold;
text-align : center;
font-size : 15px;
margin : 0 0 0 0;
background-image : url(/common/home/images/HeaderBlank778New.png);
background-repeat : no-repeat;
}
.divHeader510New {
padding : 3px 0 5px 10px;
font-family : Arial;
color : white;
font-weight : bold;
text-align : left;
font-size : 15px;
margin : 0 0 0 0;
background-image : url(/common/home/images/HeaderBlank510New.png);
background-repeat : no-repeat;
}
.divHeader248New {
padding : 3px 0 5px 10px;
font-family : Arial;
color : white;
font-weight : bold;
text-align : left;
font-size : 15px;
margin : 0 0 0 0;
background-image : url(/common/home/images/HeaderBlank248New.png);
background-repeat : no-repeat;
}
#banner_header_bg {
background-image : url(/common/home/images/worldmap.jpg);
background-repeat : no-repeat;
}
#banner_header h1 {
margin-left : 5px;
margin-bottom : 2px;
font-family : Trebuchet MS;
color : #006892;
font-size : 24px;
font-weight : bold;
}
#banner_header h2 {
margin-left : 5px;
margin-bottom : 2px;
font-family : Trebuchet MS;
color : #666666;
font-size : 20px;
font-weight : bold;
letter-spacing : -1px;
}
#banner_header i {
margin-left : 5px;
margin-bottom : 2px;
font-family : Trebuchet MS;
color : gray;
font-size : 18px;
}
#banner_header p {
font-style : italic;
margin-left : 5px;
margin-top : 0;
padding-top : 0;
margin-bottom : 2px;
font-family : Trebuchet MS;
color : gray;
font-size : 18px;
}
#banner_header ul {
list-style-image : url(/common/home/images/DarkBlueSquareTickSmall.png);
}
#banner_header b {
font-size : 120%;
}
#banner_header li {
color : #555555;
float : left;
width : 470px;
text-align : left;
font-family : Trebuchet MS;
margin-left : 5px;
margin-right : 10px;
font-size : 13px;
padding-bottom : 10px;
}
#banner_startnow_button a {
color : white;
font-size : 20px;
}
#banner_startnow_button {
text-align : center;
font-family : Trebuchet MS;
padding-top : 20px;
padding-bottom : 20px;
background-image : url(/common/home/images/button_startnow_side.png);
background-repeat : no-repeat;
}
#banner_startnow_text {
text-align : center;
font-family : Trebuchet MS;
font-size : 17px;
text-decoration : none;
padding-top : 20px;
padding-bottom : 20px;
background-repeat : no-repeat;
}
#banner_startnow_below_button img {
position : absolute;
margin-left : 100px;
}
.splashcontainer {
background-repeat : no-repeat;
height : 145px;
width : 800px;
margin-top : 5px;
padding : 0;
border-bottom-width : 1px;
border-bottom-style : solid;
border-bottom-color : #cccccc;
margin-bottom : 10px;
border-top-width : 1px;
border-top-style : solid;
border-top-color : #cccccc;
}
.key_feature {
display : inline;
float : left;
height : auto;
width : 180px;
margin-top : 10px;
margin-right : 16px;
}
#key_feature h3 {
margin-left : 5px;
margin-bottom : 2px;
font-family : Trebuchet MS;
color : #006892;
font-size : 17px;
font-weight : bold;
letter-spacing : -1px;
}
.key_feature_image {
display : inline;
float : left;
height : 50px;
width : 96%;
}
.key_feature_bottom {
font-size : 11px;
margin-top : 5px;
font-family : Trebuchet MS;
text-align : left;
line-height : 14px;
}
.feature_top {
width : 100%;
height : 50px;
display : block;
margin-bottom : 5px;
}
.feature_image {
display : inline;
float : left;
height : 50px;
width : 96%;
}
.feature_title {
text-align : left;
float : left;
margin-left : 5px;
font-size : 12px;
font-family : Trebuchet MS;
font-weight : bold;
color : #0099ff;
padding-top : 5px;
letter-spacing : -1px;
display : inline;
height : 50px;
}
.feature_bottom {
font-size : 11px;
margin-top : 5px;
font-family : Trebuchet MS;
text-align : left;
line-height : 14px;
}
.firstblock {
margin-left : 15px;
}
.info, .success, .warning, .error, .validation {
text-align : left;
padding : 8px 20px 8px 50px;
margin-left : 10px;
margin-top : 5px;
margin-bottom : 5px;
border : 1px solid #ffd324;
font-family : Arial;
font-size : 12px;
background-repeat : no-repeat;
background-color : #fff6bf;
vertical-align : middle;
background-position : 10px 50%;
width : 88%;
}
.info {
color : #00529b;
padding-top : 10px;
padding-bottom : 10px;
background-image : url('/common/home/images/info.png');
}
.success {
color : #4f8a10;
padding-top : 10px;
padding-bottom : 10px;
background-image : url('/common/home/images/success.png');
}
.warning {
color : #9f6000;
padding-top : 10px;
padding-bottom : 10px;
background-image : url('/common/home/images/warning.png');
}
.error {
color : #d8000c;
padding-top : 10px;
padding-bottom : 10px;
background-image : url('/common/home/images/error.png');
}
.alert {
background : url('/common/home/images/error.png') center no-repeat #fff6bf;
background-position : 10px 50%;
}
.sortByBox {
text-align : left;
font-size : 12px;
padding : 5px 5px 10px 10px;
}
.loadingPanel {
text-align : center;
vertical-align : middle;
background-color : #eeeeee;
font-size : smaller;
font-family : arial;
width : 200px;
height : 100px;
}
.helpStepBox {
background-position : 15px 50%;
text-align : left;
padding : 10px 10px 10px 10px;
background-color : #eeeeee;
border-color : #eeeeee;
border-style : solid;
}
.whiteCurvedGrayBorder {
background-position : 15px 50%;
text-align : left;
padding : 3px 3px 3px 3px;
background-color : white;
border-color : #eeeeee;
border-style : solid;
font-family : arial;
font-size : 12px;
}
.whiteCurvedBorder {
background-position : 15px 50%;
text-align : left;
padding : 3px 3px 3px 3px;
background-color : white;
border-color : white;
border-style : solid;
font-family : arial;
font-size : 12px;
}
.mainTableStyle {
background-position : 15px 50%;
text-align : left;
padding : 3px 3px 3px 3px;
background-color : #eeeeee;
border-width : 1px;
border-color : #dddddd;
border-style : solid;
font-family : arial;
font-size : 12px;
}
.mainTableStyle img {
border : 0;
}
.tableToolbar {
background-position : 15px 50%;
text-align : left;
padding : 5px 5px 5px 5px;
vertical-align : baseline;
background-color : white;
border-color : white;
border-style : solid;
font-family : arial;
font-size : 12px;
margin-bottom : 5px;
}
.tableToolbarItem {
text-align : left;
vertical-align : top;
padding : 1px 1px 1px 1px;
background-color : white;
border-color : white;
border-style : solid;
}
.tableToolbarItem img {
vertical-align : top;
padding-left : 1px;
padding-right : 1px;
}
.tableToolbarItemSelected img {
vertical-align : top;
padding-left : 1px;
padding-right : 1px;
}
.tableToolbarItemSelected {
background-position : 15px 50%;
text-align : left;
vertical-align : top;
padding : 1px 1px 1px 1px;
background-color : #007ea6;
border-color : #007ea6;
border-style : solid;
text-decoration : none;
color : white;
}
.modalBackground {
background-color : gray;
opacity : 0.5;
}
.modalPopup {
background-color : white;
border-width : 1px;
border-style : solid;
border-color : gray;
padding : 20px;
width : 500px;
padding-left : 10px;
text-align : left;
font-family : arial;
font-size : 12px;
}
.modalPopupBlue {
background-color : #eeeeee;
border-width : 1px;
border-style : solid;
border-color : gray;
padding : 20px;
width : 500px;
padding-left : 10px;
text-align : left;
font-family : arial;
font-size : 12px;
}
.modalPopupBlue h2 {
font-weight : bold;
font-family : arial;
font-size : 14px;
color : white;
}
.modalFullScreenImagePopup {
background-color : white;
border-width : 1px;
border-style : solid;
border-color : gray;
padding : 20px;
width : 1000px;
height : 300px;
padding-left : 10px;
text-align : left;
}
.modalCloseButton {
font-size : 11px;
font-weight : bold;
padding-bottom : 10px;
text-align : right;
}
.testimonial {
font : 14px italic sans-serif;
padding : 0 40px 0 40px;
color : gray;
width : 450px;
margin : 5px;
background-image : url(/common/home/images/PressOpenComments_03.png);
background-position : left top;
background-repeat : no-repeat;
}
.testimonial_author {
color : gray;
padding-top : 5px;
padding-bottom : 15px;
padding-left : 0;
font-size : 11px;
}
.testimonial span {
display : block;
background-image : url(/common/home/images/PressOpenComments_07.png);
background-repeat : no-repeat;
background-position : right bottom;
}
.menuBarTabsWhite {
border-color : #d7e4bd;
border-bottom : 1px solid white;
}
.hidden {
display : none;
}
.borderOnlyInfoBox {
background-position : 15px 50%;
text-align : left;
width : 450px;
padding : 5px 5px 5px 5px;
background-color : white;
border-color : #eeeeee;
border-style : solid;
border-width : 1px;
font-family : arial;
font-size : 12px;
color : black;
}
.whiteInfoBox {
background-position : 15px 50%;
text-align : left;
width : 500px;
padding : 10px 20px 10px 20px;
background-color : white;
border-color : white;
border-style : solid;
font-family : arial;
font-size : 12px;
}
.blueInfoBox {
background-position : 15px 50%;
text-align : left;
color : white;
width : 500px;
padding : 2px 2px 2px 2px;
background-color : #007ea6;
border-color : #007ea6;
border-style : solid;
font-family : arial;
font-size : 12px;
}
.mainInfoBox {
background-position : 15px 50%;
text-align : left;
background-color : #eeeeee;
width : 550px;
padding : 6px 10px 6px 10px;
border-color : #eeeeee;
border-style : none;
font-family : arial;
font-size : 12px;
}
.mainInfoBox h2 {
text-align : left;
padding : 15px 6px 12px 6px;
font-family : arial;
font-weight : normal;
color : #007ea6;
}
.whiteCornerBox {
background-position : 15px 50%;
text-align : left;
padding : 10px 5px 15px 5px;
background-color : white;
}
.whiteCornerBox .selected {
border : 1px solid #006893;
}
blockquote {
background : #f9f9f9;
border-left : 10px solid #007ea6;
margin : 1.5em 10px;
padding : 0.5em 10px;
quotes : "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
color : #ccc;
content : open-quote;
font-size : 4em;
line-height : 0.1em;
margin-right : 0.25em;
vertical-align : -0.4em;
}
blockquote p {
display : inline;
}
.color_selector_box {
padding : 5px 12px 9px 14px;
display : inline;
border-color : #007ea6;
}
.color_item {
padding : 0 9px 0 15px;
line-height : 10px;
font-size : 10px;
}
#colorbox, #cboxOverlay, #cboxWrapper {
position : absolute;
top : 0;
left : 0;
z-index : 9999;
overflow : hidden;
}
#cboxOverlay {
position : fixed;
width : 100%;
height : 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
clear : left;
}
#cboxContent {
position : relative;
overflow : hidden;
}
#cboxLoadedContent {
overflow : auto;
}
#cboxLoadedContent iframe {
display : block;
width : 100%;
height : 100%;
border : 0;
}
#cboxTitle {
margin : 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
position : absolute;
top : 0;
left : 0;
width : 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
cursor : pointer;
}
#cboxOverlay {
background : url(/common/home/images/overlay.png) 0% 0% repeat;
}
#cboxTopLeft {
width : 21px;
height : 21px;
background : url(/common/home/images/controls.png) -100px 0% no-repeat;
}
#cboxTopRight {
width : 21px;
height : 21px;
background : url(/common/home/images/controls.png) -129px 0% no-repeat;
}
#cboxBottomLeft {
width : 21px;
height : 21px;
background : url(/common/home/images/controls.png) -100px -29px no-repeat;
}
#cboxBottomRight {
width : 21px;
height : 21px;
background : url(/common/home/images/controls.png) -129px -29px no-repeat;
}
#cboxMiddleLeft {
width : 21px;
background : url(/common/home/images/controls.png) left top repeat-y;
}
#cboxMiddleRight {
width : 21px;
background : url(/common/home/images/controls.png) right top repeat-y;
}
#cboxTopCenter {
height : 21px;
background : url(/common/home/images/border.png) 0% 0% repeat-x;
}
#cboxBottomCenter {
height : 21px;
background : url(/common/home/images/border.png) 0% -29px repeat-x;
}
#cboxContent {
background : #fff;
}
#cboxLoadedContent {
margin-bottom : 28px;
}
#cboxTitle {
position : absolute;
bottom : 4px;
left : 0;
text-align : center;
width : 100%;
color : #949494;
}
#cboxCurrent {
position : absolute;
bottom : 4px;
left : 58px;
color : #949494;
}
#cboxSlideshow {
position : absolute;
bottom : 4px;
right : 30px;
color : #0092ef;
}
#cboxPrevious {
position : absolute;
bottom : 0;
left : 0;
background : url(/common/home/images/controls.png) -75px 0 no-repeat;
width : 25px;
height : 25px;
text-indent : -9999px;
}
#cboxPrevious.hover {
background-position : -75px -25px;
}
#cboxNext {
position : absolute;
bottom : 0;
left : 27px;
background : url(/common/home/images/controls.png) -50px 0 no-repeat;
width : 25px;
height : 25px;
text-indent : -9999px;
}
#cboxNext.hover {
background-position : -50px -25px;
}
#cboxLoadingOverlay {
background : url(/common/home/images/loading_background.png) center center no-repeat;
}
#cboxLoadingGraphic {
background : url(/common/home/images/loading.gif) center center no-repeat;
}
#cboxClose {
position : absolute;
bottom : 0;
right : 0;
background : url(/common/home/images/controls.png) -25px 0 no-repeat;
width : 25px;
height : 25px;
text-indent : -9999px;
}
#cboxClose.hover {
background-position : -25px -25px;
}
