/*
	UCDChina.com Stylesheet v1.0
	by JunChen
	2007-11-08
*/

/*
=Common
*/
body{
	margin: 10px 20px 20px 20px;
	font-size:12px;
	background:#fff;
	font-family: Arial,sans-serif;
	line-height: 170%;
}
a:link,a:visited{
	color: #009;
}
a:hover{
	color: #FFF;
	background: #009;
}
a.glink:link,a.glink:visited{
	color: #390;
}
a.glink:hover{
	color: #FFF;
	background: #390;
}
a img{
	border: none;
}
.clearfix:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: ".";
}
.clearfix {display: inline-block}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

#skip{
	display: none;
}

/*
=Text
*/
h2{font-size: 16px;display: none;}
h3{font-size: 14px;}
h4{font-size: 14px;font-weight: normal;}
h3 span,h4 span{font-size: 12px;font-weight: normal;color: #AAA;}
h3 span#tab_h10,h3 span#tab_h30{color: #008000;font-size: 14px;cursor:default;font-weight: bold;}
h3 .srNum{font-size:14px;font-weight: normal;color: #000;}

.topic_extend{color: #006000;}
.post_meta a:link,.post_meta a:visited{color: #666;}
.post_meta a:hover{
	color: #FFF;
	background: #009;
}
.post_meta{color: #AAA;}
/*
=Layout
*/
#index{
	padding: 0;
	margin: 10px 10px auto 10px;
}

#indexWrap {
	width: expression(document.body.clientWidth < 810? "810px": "auto" );
	min-width:810px;
}

	
#hd{
	margin-bottom: 15px;
}
	#hd #tr{
		position: absolute;
		top: -8px;
		_top: 5px;
		#top: 5px;
		right: 20px;
	}

	#hd #nav{
		position: relative;
		background: #BCCCED;
		margin-top: 23px;
        height: 34px;
		line-height: 34px;
		text-indent: 8px;
		font-size: 14px;
		font-weight: bold;
		white-space: nowrap;
	}
		#hd #nav a{
			padding: 9px 8px 9px 8px;
			_padding: 9px 8px 10px 8px;
			#padding: 9px 8px 10px 8px;
		}
		#hd #nav a:link,#hd #nav a:visited{text-decoration: none;color: #000}
		#hd #nav a:hover{color: #009;background: url(/images/bg_nav.gif) center bottom no-repeat;}
		#hd #nav a.s5a:hover{color: #009;background: url(/images/bg_nav_s5a.gif) center bottom no-repeat;}
		#hd #nav #current{color: #009;background: url(/images/bg_nav.gif) center bottom no-repeat;}
		#hd #nav #s5a_current{color: #009;background: url(/images/bg_nav_s5a.gif) center bottom no-repeat;}
	#hd #search{
		position: absolute;
		right: 5px;
		top: 6px;
		_top: 5px;
		/*#top: 0px;*/
	}
	#hd #search #searchBox{
		background: url(/images/bg_search.gif) no-repeat 0px 0 #FFF;
		text-indent: 20px;
		border:1px #999 solid;
		padding:3px;
		font-size:12px;
		width: 160px;
	}
	.cn{
		background-image: url(/images/902.gif);
		position: absolute;
		width: 2px;
		height: 2px;
		overflow: hidden;
	}
		.cntr{top: 0;right: 0;background-position: top right;}
		.cntl{top: 0;left: 0;}
		.cnbr{bottom: 0;right: 0;background-position: bottom right;}
		.cnbl{bottom: 0;left: 0;background-position: bottom left;}
	#hd #topbanner{
		float: right;
		margin-top: -65px;
	}
	
#bd{
	/*padding-right: 270px;*/
	/*margin: 0 5px;*/
	/* min-width: 700px;
	width:expression(document.body.clientWidth < 700? "700px": "auto" );*/
	padding:0 5px;
	
}
	#bd_one_col{
	}


#main{
	text-align: left;
	margin: 0 0 25px;
}
	#mainWrap{
	}
	
	#bd_one_col #main{
		float: none;
		padding: 0;
		border: none;
	}
	#main h3{
		margin-top: 0;
	}
	
#sidebar{
	/*float: left;
	margin-right: -255px;*/
	/*
	width: 220px;
	overflow: hidden;
	float: right;*/
	width:270px; 
	padding-left:20px; margin:0 auto; text-align:left;
	border-left: 1px dashed #CCC;
}
	
	#bd_one_col #sidebar{
		display: none;
	}

/*
=Subnav
*/
/*
.subnav{
	background: #F3F3F3;
	height: 25px;
	margin-bottom: 8px;
	width:665px;
}
.subnavWrap { 
	
}
.subnav td{
	line-height: 50%;
	_line-height: 25px;
}
.subnav_title{
	text-align: center;
	font-size: 14px;
	color: #009;
	font-weight: bold;
	white-space: nowrap; width:127px;
}
*/

/*
=Logo
*/
h1#logo a:link,h1#logo a:visited{
	display: block;
	text-indent: -9999px;
	width: 247px;
	height: 62px;
	background: url(/images/ucdchina_logo.jpg) top left no-repeat;
	top: 5px;
	position: relative;
}
h1#logo a:hover{
	background: url(/images/ucdchina_logo.jpg) bottom left no-repeat;
}
h1#logo a:focus{outline: 0;}

/*
=Topic&Post
*/
.topic{
	margin-bottom: 30px;
	padding-top: 8px;
	padding-left: 16px;
	background: url(/images/bg_topic.gif) no-repeat;
}
	.topicisTop{
		background: url(/images/bg_topicisTop.gif) no-repeat;
	}
	.topicWrap, .postsWrap, #ftWrap {
		width:650px;
	}
		.postsWrap{
			margin-left: 2px;
		}
	.topic ul,.posts ul{
		margin: 0 0 6px 0;
		padding: 0;
		list-style: none;
	}
	.topic ul li,.topic ul li h4,.posts ul li,.posts ul li h4{
		margin: 0 0 5px 0;
	}
	.topic h3{
		margin: 0 0 5px 24px;
	}
	.topic p,.posts p{
		margin-top: 0;
		margin-bottom: 0;
	}
		.topic p.post_thumbimg, .posts p.post_thumbimg{
			margin-top: 4px;
		}
	.topic .topic_extend{
		margin-bottom: 18px;
		margin-left: 24px;
	}
	.topic .post_extend,.topic .post_meta{
		margin-left: 24px;
	}
		.posts .post_extent,.posts .post_meta{
			margin-left: 0;
		}
	.topic .post,.topic .post_with_thumb,.posts .post,.posts .post_with_thumb{
		margin-bottom: 10px;
	}
		.post_with_thumb .post_thumbimg{
			margin-left: 23px;
			_margin-left: 12px;
		}
			.posts .post_thumbimg{
				margin-left: 0;
			}
			.post_thumbimg{
				float: left;
				width: 162px;
				height: 122px;
				overflow: hidden;
				text-align: center;
			}
				.post_thumbimg img{
					border: 1px solid #F2F2F2;
				}
		.topic .post_with_thumb .post_extend,.topic .post_with_thumb .post_meta{
			margin-left: 192px;
		}
		.posts .post_with_thumb .post_extend,.posts .post_with_thumb .post_meta{
			margin-left: 169px;
		}
	.topic_no{
		font-size: 14px;
		color: #000;
		float: left;
		width: 20px;
		_width: 24px;
		padding-right: 4px;
		text-align: right;
	}
	.see_all_posts{margin-left: 24px;font-size: 14px;font-weight: bold;font-family: serif;}
	.see_all_posts span{font-size: 12px;font-weight: normal;font-family: Arial;color: #999;}
	.post_noextend{
		float: left;
		width: 47%;
		padding-right: 1%;
	}

#sidebar a.snap_icon:link,#sidebar a.snap_icon:visited{
	background: url(/images/snap_icon.gif) no-repeat 0 0;
	font-size: 16px;
	text-decoration: none;
	overflow: hidden;
}
#sidebar a.snap_icon:hover{
	background: url(/images/snap_icon.gif) no-repeat 0 -18px;
}

#main a.snap_icon:link,#main a.snap_icon:visited{
	background: url(/images/snap_icon.gif) no-repeat 0 -18px;
	font-size: 16px;
	text-decoration: none;
	overflow: hidden;
}
#main a.snap_icon:hover{
	background: url(/images/snap_icon.gif) no-repeat 0 -18px;
}

#sidebar span.list_icon{
	font-family: simsun;
	font-size: 15px;
	text-decoration: none;
	overflow: hidden;
	background: url(/images/list_icon.gif) no-repeat -2px 0px;
}

/*
=Sidebar Mod
*/
#sidebar h3{
	margin: 0 0 8px 0;
	color: #008000;
}
	#sidebar h3 a:link,#sidebar h3 a:visited{
		color: #008000;
	}
	#sidebar h3 a:hover{
		color: #FFF;
		background: #009;
	}
	#sidebar h3 a.maroonLink:link,#sidebar h3 a.maroonLink:visited{
		color: maroon;
		background: none;
	}
	#sidebar h3 a.maroonLink:hover{
		color: #FFF;
		background: #009;
	}
#sidebar .mod{
	margin-bottom: 15px;
}
	#sidebar .mod ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	#sidebar .ili li{
		display: inline;
	}
	#sidebar .ili li a{
		white-space: nowrap;
	}
	#sidebar p{
		margin-top: 0;
	}
	#sidebar .infobox{
		font-size: 13px;
		text-align: left;
		margin-bottom: 8px;
	}
.sidebar_ad{
}
.maroonLink:link,.maroonLink:visited{
	color: Maroon;
	background: none;
}
.maroonLink:hover{
	color: #FFF;
	background: #009;
}
	td .maroonLink:link,td .maroonLink:visited{
		color: #D30000;
		background: none;
	}
	td .maroonLink:hover{
		color: #FFF;
		background: #009;
	}
/*
=ft
*/
#ft p{
	border-top: 1px dashed #CCC;
	margin: 0;
	padding: 8px 0 0 0;
	font-size: 14px;
	color: #000;
	text-align: right;
}
	#ft a:link,#ft a:visited{
		color: Maroon;
		background: none;
		font-weight: bold;
	}
	#ft a:hover{
		background: #009;
		color: #FFF;
	}
	#ft span{
		float: left;
	}

/*
=Other
*/
#search_status,#career_filter{
	background: #EEE;
	margin-bottom: 12px;
	font-size: 14px;
	padding: 5px;
}
.searchResultNum, .searchNoResult{
	font-size: 12px;
	color: #666;
}
.search_empty{
	font-size: 13px;
}
/*
=Snap & Post
*/
#page{
	background: #EFEDE4;
	padding: 0;
	margin:auto 10px;
}
#pageWrap{
	margin:auto;
	/*max-width: 970px;
	width: expression(document.body.clientWidth > 970? "970px" : "auto");*/
	min-width:810px;
	width: expression(body.clientWidth < 810? "810px": "auto" );
}
	#pageWrap table h1{
		margin: 0 0 5px 0;
	}
	#pageWrap #nav{
		background: none;
		float: right;
		margin-top: -90px;
		font-size: 12px;
	}
#pageMain{
	text-align: left; overflow:hidden; height:1%;
}
	#pageMainContainer{
		background: #FFF;
		padding: 0 28px 28px 28px;
		border: 1px solid #ccc; height:1%; overflow:hidden;
		margin: 0 auto 25px;
	}
		#postNewsErrorContainer{
			margin: 0 auto;
			display: none;
		}
	#pageMain h1{
		margin: 28px 0 0 0px;
		font-size: 18px;
		padding-bottom: 5px;
		/* border-bottom: 2px solid #F1EFE2; */
	}
	#pageMain p{
		margin:0 0 18px;
		/* font-size: 13px;
		line-height: 160%; */
	}
	#pageContent{
		/*float:left;
		width:100%; height:1%;*/
	}
		#pageContentWrap {
			/* margin:0 235px 0 0;  */
			/*background:#; height:1%;*/
			width:650px;
		}
	.pageContent_ad {
			 height:1000px; text-align:left;
			 border-left:1px #ccc dashed;
			 padding-left: 10px;
	 }
/*
= Form Elements
*/
.textinput{
	padding: 1px;
	font-size: 13px;
	font-family: Arial,sans-serif;
	border: 1px solid #A5ACB2;
}
.strictFrm p{
	margin: 0;
	padding: 2px 0;
}
.strictFrm input[type=radio]{
	position: relative;
	top: 2px;
	margin-right: 3px;
}
.strictFrm label{
	float: left;
	width: 80px;
	padding-right: 15px;
	text-align: right;
	position: relative;
}
	.strictFrm label span{
		position: absolute;;
		right: 8px;
		top: 2px;
		color: red;
	}
	.strictFrm label.inlineLabel{
		float: none;
		width: auto;
		padding: 0;
		text-align: left;
		position: static;
	}
.strictFrm .frmBtn{
	padding: 3px 10px;
	_padding: 2px 0;
	_height: 24px;
	_line-height: 15px;
}
.frmBtn{
	padding: 0;
	_padding: 2px 0;
	_height: 24px;
	_line-height: 15px;
}
.strictFrm .tb_tip{
	font-size: 14px;
	text-align: center;
	margin-top: 100px;
}
.strictFrm textarea{
	border: 1px solid #A5ACB2;
	padding: 1px;
	font-size: 13px;
}
.strictActionBar{
	padding-left: 95px;
	margin-top: 3px;
}
.strictFrmHintWrong{
	text-align: center;
	height: 28px;
	line-height: 50%;
	_line-height: 25px;
	background: #FCC;
	display: none;
}
.strictFrmHintCorrect{
	text-align: center;
	height: 28px;
	line-height: 50%;
	_line-height: 25px;
	background: #CFC;
}
.strictFrmInputWrong{
	border: 1px solid red;
}

.error_tip{
	color: #F00;
	padding-left: 5px;
}
.error_input,.strictFrm .error_input{
	border: 1px solid red;
}
.input_focus,.strictFrm .input_focus{
	border: 1px solid #000;
}
.pub_msg{
	padding-left: 10px;
	color: #008000;
}


/*
= dialog window
*/
#dialogOverlay,#submitSiteOverlay{
	background: #000000;
	left: 50%;
	margin-left: -310px;
	margin-top: -210px;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	position: fixed;
	top: 50%;
	width: 620px;
	height: 420px;
	z-index: 10;
	display: none;
}
	* html #dialogOverlay, * html #submitSiteOverlay { /* ie6 hack */
		 position: absolute;
		 height: expression(0 - parseInt(this.offsetHeight / 2) + (dialogOverlayMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
	}
#dialogContainer,#submitSiteContainer{
	background-color: #FFFFFF;
	left: 50%;
	margin-left: -285px;
	margin-top: -185px;
	position: fixed;
	top: 50%;
	width: 570px;
	height: 370px;
	z-index: 11;
	display: none;
}
	* html #dialogContainer, * html #submitSiteContainer { /* ie6 hack */
		position: absolute;
		margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (dialogContainerMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
	}
#dialogTitle,#submitSiteTitle{
	font-size: 14px;
	background: #6D84B4;
	color: white;
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	margin: 0;
	font-weight: bold;
}
	#dialogTitle div,#submitSiteTitle div{
		font-size: 14px;
		color: white;
		cursor: pointer;
		text-decoration: underline;
	}
	#dialogTitle span,#submitSiteTitle span{
		font-size: 18px;
		color: white;
	}
	#dialogTitle span#dTitle,#submitSiteTitle span#dSubmitSiteTitle{
		font-size: 14px;
	}
	
.disabled {
	color: rgb(153, 153, 153);
}

#thanksto h3,#aboutus h3,#rss_and_api h3, #copyright h3{
	font-size: 16px;
	color: #008000;
}
.writeIco{
	text-decoration: none;
	background: none;
}
	.writeIco img{
		position: relative;
		top: 3px;
	}

/*
=Sub Navigation by Rexsong
*/
.subnav { background:#f3f3f3; height:100%; overflow:auto; margin-bottom: 8px; width:665px;}
	.subnav * { line-height:25px;}
	.subnav .left { float:left; background:url(/images/bg_subnav_l.gif) no-repeat left top; height:25px; padding-left:10px;}
	.subnav .right { float:right; background:url(/images/bg_subnav_r.gif) no-repeat right top; height:25px; padding-right:10px;}
			#update { font-size:12px;}
			#update a:link,#update a:visited { color:#009;}
				#update a:hover { color:#fff; background:#009;}
			#brief a:link,#brief a:visited { color:#d30000;}
				#brief a:hover { color:#fff; background:#d30000;}
	#subnav_default {}
	#subnav_title {}
		#subnav_title .title { width:130px; float:left; padding:0 0 0 10px; height:25px; background:url(/images/bg_subnav_l.gif) no-repeat left; color:#009; font-size:14px; font-weight:bold; text-align:center;}
		#subnav_title #update { background:url(/images/bg_subnav_c.gif) no-repeat left top; padding:0 0 0 20px;}
/*
=Index Topic&Posts List by Rexsong
*/
#all_topic { overflow:auto; margin:0 0 40px; padding-left:5px; width: 665px;}
	#all_topic .item { float:left; width:330px; height: 240px; overflow:hidden; margin-bottom:10px; background:#;}
		#all_topic .item h3 { margin:20px 0 5px 0;}
			#all_topic .item h3 a:link,#all_topic .item h3 a:visited { color:#008000;}
			#all_topic .item h3 a:hover { color:#FFF;}


/* Post
---------------------------------------------------------- */
#all_topic .post_list { list-style-type:none; margin:0 0 0 2px; padding:0;}
	#all_topic .post_list li a.snap_icon { background:url(/images/snap_icon.gif) no-repeat; padding:0 7px; text-decoration:none; overflow:hidden;}
		#all_topic .post_list a.snap_icon:hover { background:url(/images/snap_icon.gif) no-repeat 0 -18px;}
	#all_topic .post_list li span.list_icon { background:url(/images/list_icon.gif) no-repeat 0 3px; padding:0 7px; text-decoration:none; overflow:hidden;}
	#all_topic .post_list li .post_title { font-size:14px; line-height:24px;}
	#all_topic .post_list li .author { color:#999; font-size:12px; margin-left:5px;}
	#all_topic .post_list li .author a:link,#all_topic .post_list li .author a:visited{ color: #999;}
	#all_topic .post_list li .author a:hover{ color: #FFF;}
