<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

<!-- Appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</layout>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoding>UTF-8</encoding>
		<file>logs/sfl4j.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logs/self4j.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%-5level][%d{yyyy-MM-dd HH:mm:ss}] %class - %msg%n</Pattern>
		</layout>
	</appender>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>



<!-- For Crawljax -->
<!--
	<appender name="CrawljaxFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/self4j.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date{yyyy/MM/dd hh:mm:ss:SSS} %.5level - %logger{0}.%.20method %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="com.crawljax.core.plugin.Plugins" level="info">
		<appender-ref ref="CrawljaxFileAppender" />
	</logger>
-->
	
<!-- For JSAnalayzer -->
	<appender name="JSAnalyzerFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/logs/jsanalyzer.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date{yyyy/MM/dd hh:mm:ss:SSS} %.5level - %logger{0}.%.20method %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="jp.mzw.jsanalyzer.revmutator.MutatorProxyPlugin" level="info">
		<appender-ref ref="JSAnalyzerFileAppender" />
	</logger>
	<logger name="jp.mzw.jsanalyzer.revmutator.runner.MoodleRunner" level="info">
		<appender-ref ref="JSAnalyzerFileAppender" />
	</logger>


</configuration>
