@import url(../Default/Common.css); 
/* Div style */

.main_left{
     float:left;
	 width:180px;
	 overflow:hidden;
}
.main_center{
     margin-left:15px;
	 float:left;
	 width:579px;
	 overflow:hidden;
}



/* Left style */

ul.Catalogue{
	text-align:left;
	margin:0px 3px;
	list-style: none;
	padding:0px 3px;
}
.Catalogue li{
    padding-top:2px;
}
.Catalogue li a{
display:block;
height:20px
}

.Catalogue_lineheight{ line-height:10px;}
.Catalogue_Icon li{
	padding-right:5px;
	background-image: url(../../Images/Home-Icon.gif);
	background-repeat: no-repeat;
	background-position: 155px center;
	
}
ul.Subdirectories{
	text-align:left;
	margin-left:0px;
	list-style: none;
	padding:0px 3px;
}
.Subdirectories li{
    margin-top:0px;
}




/*
A.NewOffersTitle:link    {COLOR: #4f4023;font-weight:bold;line-height:22px; TEXT-DECORATION: none}
A.NewOffersTitle:visited {COLOR: #996688;font-weight:bold;line-height:22px; TEXT-DECORATION: none}
A.NewOffersTitle:hover   {COLOR: #f68428;font-weight:bold;line-height:22px; TEXT-DECORATION: underline}
*/

ul.NewOffers_Info{
	text-align:left;
	margin-left:0px;
	margin-bottom:5px;
	list-style-image: url(../../Images/Icon_02.gif);
	list-style-type: none;
	list-style-position: inside;
	padding:0px 3px;
	
}
.NewOffers_Info li{
    margin-top:4px;    
}

/*ul.PriceLists{
    overflow:hidden;
	text-overflow:ellipsis;
	text-align:left;
	margin:0px;
	list-style: url(../../Images/Icon_02.gif) none inside;
	padding:0px;
}
.PriceLists li{
    margin:0px; 
	width:265px;
}*/
.InfoTitle_Activation{
    font-weight:bold;
}
A.InfoTitle:link    {COLOR: #172e54; TEXT-DECORATION: none}
A.InfoTitle:visited {COLOR: #996688; TEXT-DECORATION: none}
A.InfoTitle:hover   {COLOR: #f68428; TEXT-DECORATION: underline}

.TradeShows_selector {
    font-family:Tahoma;
	height: 16px;
	font-size: 12px;
	line-height: 18px;
	color: #232323;
	width:160px;
}
.TradeShows_Keyword {
    font-family:Tahoma;
	height: 16px;
	border: 1px solid #dedede;
	font-size: 12px;
	line-height: 16px;
	color:#a3a3a3;
	padding-left:3px;
	width:156px;
}
A.TradeShowsTitle:link    {font-weight:bold; TEXT-DECORATION: none}
A.TradeShowsTitle:visited {font-weight:bold; TEXT-DECORATION: none}
A.TradeShowsTitle:hover   {font-weight:bold; TEXT-DECORATION: underline}


.ForumNote{
    color:#c8c8c8;
}

.SelfServiceStyle{
    background-color:#f8f8f8;
	border:1px solid #faa973;
	background-color:#ffffff;
	margin-bottom:10px;
    }
.SelfServiceStyle h3{
    padding:0px 5px;
    margin:0px;
	background:url(../../Images/SelfService.jpg);
	background-color:#faac78;
	color:#fff;
    font-weight:bold;
	font-size:12px;
    line-height:24px;
    }

.SelfServiceStyle .SubBg{
    background-color:#f8f8f8;
    }
.SelfServiceStyle ul{
	text-align:left;
	margin:0px;
	list-style: none;
	padding:0px;
}
.SelfServiceStyle ul li{
    margin:0px;
    padding:0px 10px;   
}
.box_server h3{ background:url(../../images/salfService1.jpg)}   
.box_server ul li{ padding:0; height:43px}
ul.Forum{
	text-align:left;
	margin-left:3px;
	margin-bottom:5px;
	list-style-image: url(../../Images/Icon_02.gif);
	list-style-type: none;
	list-style-position: inside;
	padding:0px 3px;
}
.Forum li{
    margin-top:4px;    
}
ul.woodsList{
    overflow:hidden;
	text-align:left;
	margin:12px;
	list-style:none inside;
	padding:0px;
}
.woodsList li{
    margin:0px; 
}

/* New Offer�����ʽ */

#NewofferAD {
    background:url(../../Images/NewOffer_03.gif);
	height:30px;
	width:570px;
	}
.HomeNewofferAD{ /*background:url(../../Images/NewOffer_03.gif);*/}
.HomeNewofferAD h2{ height:30px; line-height:30px; color:#db490f; margin:0px; padding:0px 5px;border-bottom:1px solid #dedede;}
.HomeNewofferAD div h2 a{color:#db490f;}
.HomeNewofferAD div h2 img{ vertical-align:middle; }
#NewofferAD .AD_L{
    float:left;
	/*background:url(../../Images/NewOffer_01.gif) no-repeat;*/
	
	width:50%;
	height:30px;
	}
#NewofferAD .AD_R{
    float:left;
	background:url(../../Images/NewOffer_02.gif) no-repeat;
	width:144px;
	height:30px;
	}
.LeadsCycle {margin: 0px;width:577px;/*height:161px;*/ height:172px;}
h2{font-size: 12px;margin:0px;border-bottom: #d4d4d4 1px solid;padding:0px 10px;}
h2 A:link    {color: #172e54;font-weight:bold; text-decoration: none}
h2 A:visited {color: #996688;font-weight:bold; text-decoration: none}
h2 A:hover   {color: #f68428;font-weight:bold; text-decoration: underline}
.Column {float:left;width:288px;}
.Column.one1 ul{
	margin:0px;
	overflow: hidden;
	border-right:1px dotted  #c8c8c8;
	background-color:#fff;
	list-style-type: none;
	padding:0px;
	}
.Column.one1 ul li{ margin:0px;padding:0px 10px 0px 10px;}
.Column.one2 ul{
	margin:0px;
	overflow: hidden;
	background-color:#fff;
	list-style-type: none;
	padding:0px;
	}
.Column.one2 ul li{ margin:0px;padding:0px 10px 0px 10px;}
.Date1{
    color:#c8c8c8;
	float:right;
	clear:right;
    }
.LeadsCycleBg{
    background-color:#f8f8f8;
    }
.LeadsCycleBg1{ background-color:White;}
/***** ����л�Ч�� *****/
#tabProduct{
	background: url(../../Images/BG_04.gif) no-repeat left top;
}
#tabProduct ul{    
	margin:0px;
	padding:0px;
	list-style: none;
	}
#tabProduct ul li{
    float:left;
	margin:0px;
    padding:0px;
	text-align:center;
	}
.in { border: 1px #bebebe solid; padding: 0px 0px 4px;}

/*.materialsnormal { background: url(../../images/index_tag03L.gif) no-repeat left top; height: 22px;  }*/
/*.materialsnormal a { background: url(../../images/index_tag03R.gif) no-repeat right top; height: 22px; display: block; color: #000;line-height: 22px; padding: 0px 5px; }*/
/*.materialsactive { background: url(../../images/index_tag04L.gif) no-repeat left top; height: 22px;  position :relative; }*/
/*.materialsactive a { background: url(../../images/index_tag04R.gif) no-repeat right top; height: 22px;line-height: 22px; color: #000; display:block; padding: 0px 5px;}*/


.ProductBox2{padding:5px 0px;text-align:center;height:250px;}
/****** չ���� ******/
#TradeShowBox{
   border:1px solid #dde0e2;
   background-color:#f7f6f2;
   height:82px;
   }
#marqueeOneShowLeft,#marqueeOneShowRight{
   float:left;
   margin-top:3px;
   }
#marqueeOneShowLeft  ul,#marqueeOneShowRight ul{    
	margin:0px;
	padding:0px;
	list-style: none;
	}
	
/* ͼƬ�߿򼰴�С */

