

    /*bottom*/
#bottom {
    clear: both;
    /*margin: 15px auto 0px;*/
    text-align: center;
    font-family: Tahoma, Arial, Helvetica, Sans-serif;
    font-size: 11px;
    border-top: 1px solid #d3d3d4;
    /*padding: 10px 25px 5px;*/
    line-height: 18px;
    color: #455b80;
    background-color: #fbfbfc;
}
body {
    margin: 0px;
    color: #373737;
    font: 12px/20px Arial, Helvetica, sans-serif;
    background: url(../../images/New/beacon_bg.jpg) repeat-x;
}

img {
    border: 0px;
}

h1{
	display:inline;
	font-size:14px;
	clear:none;
	float:none;	
    }
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em, textarea, input {
    margin: 0px 0 0 0;
    padding: 0;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, blockquote, fieldset, div, strong, label, em {
    border: 0;
}
ul,ol,li{list-style:none;}
input, button {
    margin: 0;
    font-size: 12px;
    vertical-align: middle;
}
.cb{ clear:both;font-size:0px;}
.fl{ float:left;}
.fr{ float:right;}
.tar {
    text-align:right
}
a{ color:#3f3f3f; text-decoration:none;}
a:hover{ color:#f68428;}
    a:visited {
        color: #996688;
        text-decoration: none;
    }
.tac{
    text-align:center;
}
.fwb{
    font-weight:bold;
}
   .banner{
    margin:4px 4px 0px;
}
    .banner img {
        vertical-align:middle;
        margin-bottom:6px;
    }

.space-padding-135 {
    padding-left: 135px;
}
.space-padding-100 {
    padding-left:100px;
}
.space-bottom-10 {
    margin-bottom:10px;
}
.space-padding-23 {
    padding-left:23px;
}
.space-padding-250{
    padding-left:250px;
}
.space-padding-25 {
    padding-left:25px;
}
.space-top-10 {
    margin-top:10px;
}
.space-top-5 {
    margin-top:5px;
}
.space-top-15 {
    margin-top:15px;
}
.space-bottom-15 {
    margin-bottom:15px;
}
.space-left-173 {
    margin-left: 173px;
}
.space-left-20 {
     padding-left:20px;
}
.space-left-200 {
    padding-left:200px;
}
.space-left-153 {
    padding-left:153px
}
.space-left-210 {
    padding-left:210px;
}
.space-left-170 {
    padding-left:170px;
}
.space-top-pad-10 {
    padding-top:10px;
}
.space-top-PM {
    padding-top:5px;
    margin-top:10px;
}
.space-right-20 {
    margin-right:20px;
}
.space-bottom-35 {
    margin-bottom:35px;
}
.space-left-15 {
    margin-left:15px;
}
.space-right-5 {
    margin-right:5px;
}
.space-bottom-5 {
    margin-bottom:5px;
}
.space-left-tab {
    padding-left:65px;
}
.space-left-tab1 {
    padding-left:10px;
}
.space-left-tab2{
    padding-left:8px;
}
.space-left-tab3 {
    padding-left: 207px;
}
.space-left-tab4 {
    margin-left: 173px;
}
.space-tab5 {
   margin:0px 20px;
}
.space-left{ padding-left: 20px;}
.dib{
    display:inline-block;
}
.cp{
    cursor:pointer;
}
.font-SW {
    font-size:12px;
    font-weight:bold;
}
/*stone fair desc/help*/
.submain_left{
	width:1048px;
	float:left;
	clear:left;
   
    }
.submain_right{
	margin-left:10px;
	width:180px;
	float:right; 
	clear:right; 
	overflow:hidden; 
   
    }
 /*login*/
.home-login-head {
    border: 3px solid #7995ae;
    margin-bottom: 10px;
    text-align: center;
}
    .home-login-head h3 {
        border-bottom: 1px solid #dedede;
        text-align: left;
        position: relative;
        padding: 5px 0px 7px 5px;
        height:20px;
        font-size:14px;

    }
#IndexRightLoginState p {
    line-height: 30px;
}
.home-login-buttom {
    background: url(../../images/New/buttom_bg2.jpg) repeat-x;
    border: 1px solid #dedede;
    color: #31608a;
    font-weight: bold;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    padding: 0px 10px;
    display: inline-block;
}
.BoxHomeTags {
    border-top: 1px dotted #dedede;
    background-color: #f9f9f9;
    padding-top: 5px;
}
.HomeTags {
    margin: 0px;
    padding: 0px;
    height: 32px;
    background-color: #fafafa;
    background-image: url(../../images/line.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #555555;
    border-bottom: 1px solid #dedede;
}
    .HomeTags li.HomeSelectTag {
        border-top: 2px solid #7995ae;
        background-color: #fff;
        position: relative;
        margin-top: -1px;
    }

#homeContent {
    padding: 1px;
    background-color:white;
    text-align: left;
    padding: 5px 0px 10px 10px;
}
        #homeContent div.selectTag {
            DISPLAY: block;
        }
.HonetagContent {
    DISPLAY: none;
    COLOR: #474747;
    margin: 5px 0px 0px;
}
.HomeInfo {
    margin: 0px;
    padding: 0px;
    color: #0c7f0e;
    line-height: 15px;
}
        .HomeInfo li {
  
            margin: 0;
            padding-top: 5px;
            
        }


.HomeTags li {

    border-bottom: none;
    FLOAT: left;
    LIST-STYLE-TYPE: none;
    text-align: center;
    height:32px;
    line-height: 32px;
    width: 50%;
    font-weight: bold;
}

.home-Arrow {
    background: url(../../images/New/Arrow2.jpg) no-repeat;
    display:inline-block;
    width: 13px;
    height: 18px;
    position: absolute;
    left: 15px;
    bottom: -11px;
     _bottom: -12px;
}
.submit-btn {
     background: url(../../images/New/buttom-bg1.gif) repeat-x;
     height:24px;
     padding:0px 10px;
     line-height:24px;
     border:none;
     border:1px solid #bd9208;
     font-weight:bold;
}
.space-style {
    padding: 0px 25px;
}
.submit-btn1 {
     background: url(../../images/New/buttom-bg1.gif) repeat-x;
     height:19px;
     padding:0px 10px;
     line-height:19px;
     border:none;
     border:1px solid #bd9208;
     font-weight:bold;
}
/*stone fair \ free member*/
.StoneFair-left-box, .StoneFair-right-box,.Frame-right-box,.Public-banner {
    border: 1px solid #dedede;
    border-top: 2px solid #7995ae;
}
.Frame-right-box {
    margin-bottom:15px;
}
    .Frame-right-box h3,.Public-banner h3{
        line-height: 30px;
        border-bottom: 1px solid #dedede;
        padding-left: 5px;
        text-align: left;
        display: block;
        font-size: 14px;
    }

.Public-banner {
    text-align:center;
    margin-bottom:10px;
}
.StoneFair-right-box {
    margin-top:10px;
}

.main_right {
    float:right;
    width:178px;
}
/*stone guide Spread*/
.StoneGuide-Spread-box {
    border: 1px solid #dedede;
    border-top: none;
    text-align: center;
    margin-bottom: 15px;
}
    .StoneGuide-Spread-box h3 {
        background-color: #fbfbfc;
        border-bottom: 1px solid #dedede;
        border-top: 1px solid #dedede;
        font-size: 14px;
        line-height: 30px;
    }
    .StoneGuide-Spread-box img {
        margin:10px;
    }
.StoneGuide-Spread-Info {
    line-height: 24px;
    text-align: left;
    margin: 5px 0px 5px 10px;
}
    .StoneGuide-Spread-Info a {
        color:#0000d0;
         background:url(../../images/New/agaze.gif) 1px 9px no-repeat;
         padding-left:10px;
         display:inline-block;
         margin-right:20px;
    }
        .StoneGuide-Spread-Info a:hover {
            color: red;
            background: url(../../images/New/agaze1.gif) 1px 9px no-repeat;
        }
.SubmitNedds {
    background: url(../../images/SumbitNeeds_01.gif) no-repeat;
    background-color:white;
    padding:26px 2px 2px 2px;
    color:#839aad;
    font-size:9px;
    line-height:13px;
}
/*.InfoCenter-banner img{
    margin:4px 0px  4px 4px;
}*/
.BoxHomeContactUs ul li img, .BoxContactUs_HC ul li {
    float: left;
    display: inline;
    margin: 0px 5px 5px 5px;
}
.ForumTitleStyle {
    color:#003399;
    font-weight:bold;
}
.productnamehighlighting { color: red;}
