body {
	font-family: Georgia, Century, Times New Roman, serif;
	margin: 0px;
}

/* header and footer area */
div#header, #footer {
	padding: 5px;
	background-color: lightblue;
}
h1 {
	margin: 0px;
	padding: 0px;
}
h2 {
	margin: 5px;
	padding: 0px;
}
div#footer {
	clear: both;
}

/* content area */
div#content {
	margin: 0px;
	padding: 5px;
}
div#div_left {
	float: left;
}
div#div_right {
	float: left;
	margin-left: 15px;
}



/* Question and Answer */
img#conf-header {
	width: 700px;
}

div#question {
	width: 720px;
	background-image: url(../img/bg_q.png);
	background-repeat: no-repeat;
	border: 1px lightblue solid;
	margin: 5px;
	padding: 10px;
}

#question_title {
	font-size: x-large;
}
#questioner_property {
	font-size: small;
	margin: 10px;
}

#question_content {
	border-top: 1px lightblue dotted;
	padding: 10px;
}

div#answer {
	width: 720px;
	background-image: url(../img/bg_a.png);
	background-repeat: no-repeat;
	border: 1px lightblue solid;
	margin: 5px;
	padding: 10px;
}
#answer_content {
	border-top: 1px lightblue dotted;
	padding: 10px;
}
#answer_footer {
	border-top: 1px lightblue dotted;
	padding: 10px;
}

#mask {
	position: absolute;
	width: 750px;
	height: 420px;
	top: 312px;
	left: 7px;
	background-image: url(../img/mask.png);
}

/* Login */

div#login_div {
	width: 275px;
	background-color: #E8E8E8;
	border: 1px black solid;
	padding: 10px;
}

a#logout {
	color: #990066;
	border-bottom: 1px #990066 solid;
}
