/* ******************************************************************* */	
body, table	{
	color: 				#333333; 
	font-family:		Verdana, Arial;
	font-size:			10px;	
	font-weight:		normal;
	margin:				0px;
	}
th	{
	color:				#a47d56; 	
	color:				#373535;
	font-weight:		bold;
	}	
.Sidebar { 
	background-image:	URL(images/sidebar.jpg);
	background-repeat:	no-repeat;
	padding: 5px 10px; 
	font-size: 9pt;
	font-weight: bold;
	width: 440px;
	height: 122px;
	overflow: auto;
	margin: 0px;
	}
.Clear	{ Clear: both; }
/* ******************************************************************* */	
.EnglishFlag {
	position:			Absolute;
	top:				6px;
	right:				14px;
	}
.ChinaFlag {
	position:			Absolute;
	top:				29px;
	right:				14px;
	}
.SpanishFlag {
	position:			Absolute;
	top:				52px;
	right:				14px;
	}
/* ******************************************************************* */	
caption	{
	font-weight:		bold;
	font-size:			10px;
	}
td.HeadMenu	{	
	padding:			6px 14px;	
	height:				96px;
	background-repeat:	no-repeat;
	background-position: bottom right;
	}
.HeadMenu	{
	color:				#333333;
	font-family:		Verdana, Arial;
	font-size:			10px;	
	font-weight:		normal;
	}	
	
td.MainMenu	{	
	padding:			6px 14px;	
	height:				27px;
	}
.MainMenu	{
	color:				#ffffff;
	background-color: 	#a47d56; 	
	text-decoration:	none;		
	font-family:		Verdana, Arial;
	font-size:			10px;	
	font-weight:		bold;	
	text-align:			right;
	}
	
td.BaseMenu	{	
	padding:			5px 14px;	
	height:				23px;
	}
.BaseMenu	{
	color:				#cccc95;
	background-color: 	#373535; 
	font-family:		Verdana, Arial;
	font-size:			10px;	
	font-weight:		normal;
	}
	
td.FootMenu	{	
	padding:			6px 14px;	
	height:				38px;
	}
.FootMenu	{
	color:				#333333;
	background-color: 	#ffffff; 
	font-family:		Verdana, Arial;
	font-size:			10px;	
	font-weight:		normal;
	}

.Accent1	{
	color:				#ffffff;
	background-color: 	#a47d56; 	
	padding:			10px;

	}
.Accent2	{
	color:				#373535;
	background-color: 	#cfcfa2; 	
	padding:			4px;  
/*	padding:			6px 14px;  */
	font-size:			11px;	
	line-height:		18px
	}
	
.Accent3	{
	color:				#373535;
	background-color: 	#e9e9bb; 	
	padding:			6px 14px; 
	font-size:			10px;	
	}
.Accent4	{
	color:				#373535;
	background-color: 	#f0f0d5; 	
	padding:			6px 14px;
	font-size:			10px;	
	}
.PadCell	{
	padding:			6px 14px;
	}
.Gold	{
	color:				#a47d56;
	}
	
/* ******************************************************************* */	
form	{
	margin:				0px;
	}
a	{
	color:				#373535;
	}
input[type=text], input[type=file], input[type=password], select, textarea	{
	border:				1px solid #cccccc;
	}

button	{
	color:				#ffffff;
	background-color: 	#373535; 
	font-family:		Verdana, Arial;
	font-size:			12px;	
	font-weight:		bold;
	padding:			1px 2px;
	border:				none;
/*	text-transform:		uppercase;	*/
	cursor:				hand;
	}
/* ******************************************************************* */	
H1	{
	color:				#373535;
	font-family:		Verdana, Arial;
	font-size:			18px;
	font-weight:		bold;
	margin:				9px 0px;
	text-transform:		capitalize;
	}
.H2, H2	{
	color:				#a47d56;
	font-family:		Verdana, Arial;
	font-size:			14px;
	font-weight:		bold;
	margin:				6px 0px;
	}
H3	{
	color:				#373535;
	font-family:		Verdana, Arial;
	font-size:			12px;
	font-weight:		bold;
	margin:				6px 0px 0px 0px;
	}
P	{
	margin:				6px 0px 18px 0px;
	}
hr	{ 
	border-top: 	3px dotted #373535;
	border-left:	0px solid white;
	border-right:	0px solid white;
	border-bottom:	0px solid white;
	width: 			500Px;	
	height:			3px;
	}
/* ******************************************************************* */	
/* ******************************************************************* */	
.required	{ color: red; }
.short {
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
	height: 16px;
	width: 600px;
	cursor: pointer;
/*	text-decoration: underline; */
	font-style: italic;
	background-image:URL("images/more.gif");
	background-repeat: no-repeat;
	padding-left: 20px;
	}
.long  {
	overflow: visible; 
	white-space: normal; 
	height: auto;
	width: 600px;
	cursor: pointer;
	background-image:URL("images/less.gif");
	background-repeat: no-repeat;
	padding-left: 20px;
	}

/* ******************************************************************* */	
table.show	{
	border-collapse:	collapse;
	}
caption.show	{
	color:				#a47d56;
	font-family:		Verdana, Arial;
	font-size:			12px;
	font-weight:		bold;
	text-align:			left;
	padding:			8px 4px;
	}
th.show	{
	color:				#ffffff;
	background-color:	#a47d56;
	border:				1px solid #a47d56;
	padding:			4px 4px;
	}
td.show	{
	color:				#373735;
	background-color:	#ffffff;
	border:				1px solid #a47d56;
	padding:			8px 4px;
	}
/* ******************************************************************* */	
/*
.keyword {
	background-color:	#ffff66;
	}
*/
.ghost {
	display:			none;
	}
.definition {
	padding:			20px;
	font-family:		times new roman;
	font-size:			11pt;
	color:				#A47D56;
	}
.border	{
	border:				1px solid #373535;
/*	filter:				progid:DXImageTransform.Microsoft.Shadow(color='#373535', Direction=135, Strength=4); */
	}
/* ******************************************************************* */	
@media print {
.NoPrint { display: none; }

}	
/* ******************************************************************* */	
	
