.MMT_Normal {
position:absolute;
top:96px;
left:7px;
background-color:#a47d56;
border-collapse: collapse;
z-Index: 100;
cursor: pointer;
}

.MMC_Normal {
border: 1px solid #a47d56;
font-family: verdana;
font-size: 11px;
font-weight: bold;
white-space:nowrap;
padding:6px;
color: #ffffff;
background-color: #a47d56;
}
.MMC_Hover {
border: 1px solid #a47d56;
font-family: verdana;
font-size: 11px;
font-weight: bold;
white-space:nowrap;
padding:6px;
color: #373535;
background-color: #e9e9bb;
}

.MML_Normal {
color: #ffffff;
text-decoration:none;
}
.MML_Hover {
color: #373535;
text-decoration:none;
}



.MST_Normal  {
position:absolute;
background-color:#cfcfa2;
border-collapse:collapse;
top: expression(parentNode.offsetTop+26 + "px");
left: expression(parentNode.offsetLeft-1 + "px");
cursor: pointer;
z-Index: 200;
display: none;
}
.MST_Hover  {
position:absolute;
background-color:#cfcfa2;
border-collapse:collapse;
top: expression(parentNode.offsetTop+26 + "px");
left: expression(parentNode.offsetLeft-1 + "px");
cursor: pointer;
z-Index: 200;
display: block;

}

.MSC_Normal {
border: 1px solid #ffffff;
white-space:nowrap;
padding:5px;
color: #373535;
background-color: #cfcfa2;
}
.MSC_Hover {
border: 1px solid #ffffff;
white-space:nowrap;
padding:5px;
color: #373535;
background-color: #e9e9bb;
}

.MSL_Normal {
color: #373535;
text-decoration:none;
}
.MSL_Hover {
color: #373535;
text-decoration:none;
}
