.bluetabs{
border: 1px solid #D4EBEB;
width:850px; margin:0 auto; height:32px; margin-top:10px; background: url(/beta_images/bluest.gif) repeat;
}

.bluetabs ul{
padding: 0px 0;
margin-left: 0;
margin-top: 0px;
margin-bottom: 0;
font: bold 12px arial;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.bluetabs li{
display: inline;
margin: 0;
}

.bluetabs li a{
text-decoration: none;
padding: 9px 50px;
/*margin-right: 3px;*/
float:left;
border-right: 1px solid #ABD8D8;
color: #2d2b2b;
background: url(/beta_images/bluest.gif) repeat;
}

.bluetabs li a:hover{
/*text-decoration: underline;*/ 
color: #2d2b2b; background:url(/beta_images/bluest_hover.gif) repeat-x;
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv_b{
position:absolute;
top: 0;
border-width: 0 1px;
font:normal 12px arial;
line-height:18px;
z-index:100;
background-color: white;
width: 190px;
visibility: hidden;
margin-left:-38px; 
}


.dropmenudiv_b a{
width: auto;
display: block;
/*text-indent: 5px;*/
border-bottom:1px solid #ABD8D8;
text-decoration: none;  padding:7px 10px;
text-align:left;
color: black; background:url(/beta_images/bluest.gif) repeat-x;
}

.delas{height:19px; position:absolute; right:5px; margin-top:0px; width:18px; background:url(/beta_images/icon_sprite.gif) no-repeat; margin-right:2px;}
.valuepack{height:19px; position:absolute; right:5px; margin-top:0px; width:23px; background:url(/beta_images/icon_sprite.gif) no-repeat; background-position:-18px 0px;}
.book{height:19px; position:absolute; right:5px; margin-top:0px; width:22px; background:url(/beta_images/icon_sprite.gif) no-repeat; background-position:-42px 0px; margin-right:1px;}
.luggage{height:19px; position:absolute; right:5px; margin-top:0px; width:16px; background:url(/beta_images/icon_sprite.gif) no-repeat; background-position:-64px 0px; margin-right:4px;}
.mobile{height:19px; position:absolute; right:1px; margin-top:0px; width:11px; background:url(/beta_images/icon_sprite.gif) no-repeat; background-position:-81px 0px; margin-right:11px;}
.Electronics{height:19px; position:absolute; right:3px; margin-top:0px; width:16px; background:url(/beta_images/icon_sprite.gif) no-repeat; background-position:-93px 0px; margin-right:8px;}
.furnishing{height:19px; position:absolute; right:3px; margin-top:0px; width:15px; background:url(/beta_images/icon_sprite.gif) no-repeat; background-position:-110px 0px; margin-right:8px;}
.furniture{height:19px; position:absolute; right:5px; margin-top:0px; width:23px; background:url(/beta_images/icon_sprite.gif) no-repeat; background-position:-125px 0px; margin-right:2px;}
.handbags{height:19px; position:absolute; right:5px; margin-top:0px; width:20px; background:url(/beta_images/icon_sprite.gif) no-repeat; background-position:-148px 0px; margin-right:3px;}
.cloth{height:19px; position:absolute; right:3px; margin-top:0px; width:17px; background:url(/beta_images/icon_sprite.gif) no-repeat; background-position:-168px 0px; margin-right:7px;}
.Shoe {height:19px; position:absolute; right:5px; margin-top:0px; width:23px; background:url(/beta_images/icon_sprite.gif) no-repeat; background-position:-185px 0px;  margin-right:3px;}
.shoping_icon{padding:3px 48px; border:0px solid #fff; background:url(/beta_images/icon_sprite.gif) no-repeat; background-position:-208px 0px; margin-right:10px;}

.Jewellery{height:19px; position:absolute; right:3px; margin-top:0px; width:23px;}
.wallet{height:19px; position:absolute; right:2px; margin-top:0px; width:23px;}
.Sunglasses{height:19px; position:absolute; right:6px; margin-top:0px; width:23px;}
.accessories{height:19px; position:absolute; right:8px; margin-top:0px; width:23px;}

.Watches{height:19px; position:absolute; right:1px; margin-top:0px; width:23px;}
.sports{height:19px; position:absolute; right:4px; margin-top:0px; width:23px;}

.dropmenudiv_b a:hover{ /*THEME CHANGE HERE*/
background-color: #edf3f3; background:url(/beta_images/bluest_hover.gif) repeat-x;
}

/* ######### Responsive CSS ######### */


@media screen and (max-width: 480px){

	.bluetabs{
		border-bottom-width: 0;
	}

	.bluetabs li{
		margin: 0;
	}

	.bluetabs li a{
		padding: 10px auto;
		display: block;
		width: 100%;
		font-size: 120%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.dropmenudiv_b{
		width: 100% !important;
		display: none;
		position: static;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	 .dropmenudiv_b a{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

}

