
body {
	font-family: Georgia, Century, Times New Roman, serif;
}
div#header,#footer {
	background-color: lightblue;
}
div#thumbnail_field {
	margin: 25px;
	border: 1px gray solid;
	width: 300px;
}
div#description {
	width: 375px;
}
p#item_name {
	border: 3px;
	border-bottom: 1px gray solid;
}
div#description,#selection {
	border-bottom: 1px gray solid;
}
img#thumbnail {
	width: 300px;
}

table {
	border-collapse: separate;
	border-style: solid;
	border-width: 1px;
	border-color: #A0A0A0;
	background-color: #A0A0A0;
}

th {
	color: #FFFFFF;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: #A0A0A0;
	background-color: #00C0C0;
	padding: 2px;
}

td {
	color: #000000;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: #A0A0A0;
	background-color: #E8F8FF;
	padding: 2px;
}