ul.left_nav { margin: 0px; padding: 0px; list-style-type: none; padding-left: 0px; margin-bottom: 0px; margin-top: 0px; }
#quick_signup_container { }
#content #main-body #main-body-inner { background: none; padding: 0px; }
#promo-bar { margin-top: 14px; width: 780px; overflow: hidden; } 
#promo-bar h2 { padding: 7px; margin: 0; color: #666666; }
.promo { margin-top: 15px; width: 780px; }
.promo-pictures { float: left; width: 250px; height: 150px; background-color: #BDBEC0; color: #6E6F71; font-size: 17px; overflow: hidden; }
.promo-pictures img { } 
#promo-description { width: 482px; height: 120px; float: right; background-color: #FAF8EF; padding: 15px; }
#promo-description h2 { margin: 8px 0 17px 0px; font-weight: bold; font-size: 18px; color: #3B2416; }
#promo-description p { font-size: 14px; font-family: arial; line-height: 19px; }
#promo-description p strong { font-weight: bold; }
#promo-description p em { font-style: italic; }
#checkout a { text-decoration: none; color: #564032; }
#bottom-promotions { width: 783px; }

/* HOME PAGE CYCLE IMAGE */
#main-image-holder { width: 800px; height: 440px; position: relative; }
#main-image { width: 780px; height: 440px; overflow: hidden; overflow: hidden; }
#main-image div.main-image-cnt { width: 780px; height: 440px; }
#main-image div.main-image-cnt div.home_countdown_timer { position: absolute; top: 20px; right: 20px; background: #f6f3df; border: 2px solid #c3122f; padding: 5px 10px; text-align: center; width: 275px; font-size: 15px; line-height: 20px; font-weight: bold; }
#main-image-holder #cycle-nav { position: absolute; bottom: 15px; left: 0px; z-index: 20; list-style: none; }
#main-image-holder #cycle-nav li { float: left; width: 17px; height: 17px; cursor: pointer; margin: 0px 5px; background: url( '/images/nav-dot.png' ); }
