body {
	background-color:#09151A;
}
img.block {display: block;}
hr{ margin:0px; text-align:left; }
form{ margin:0px; }
#loginfrm {
	margin: 0;
	padding: 5px;
}
#loginfrm * {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.loginbox {
	width:50px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
#status{
	width:20px;
}
.statusdiv {
	position:absolute;
	z-index:7;
	width:25px; 
	height:25px;
}
.response {
	background: #FBFAEC;
	border: 2px solid #CCCCCC;
	display: none;
	padding: 5px;
	text-align: center;
	margin: 0 auto 10px auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000
}
.loader {
	float:left;
}
.divbox {
	background-color:#FFFFFF;
	border: solid 1px #000000;
}
.divboxabs {
	position:absolute;
	z-index:7;
	background-color:#FFFFFF;
	border: solid 1px #000000;
}
.boxheader {
	background:url(../graphics/greybar.png);
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	color:#000000;
	padding:4px;
}
.boxheader2 {
	background:url(../graphics/greybar.png);
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color:#000000;
	padding:4px
}
.boxheadersmall {
	background-image:url(../graphics/greybar.png);
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#000000;
	font-style: normal;
	font-weight: normal;
	padding:2px;
}
.listHeader{
	background:transperency;
	background-image:url(../graphics/greybarb.png);
	background-repeat:repeat-x;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #333333;
}
.normal {
	color:#000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.normalwhite {
	color:#FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.heading {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	color:#000000;
}
.heading1 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color:#000000;
}
.headingwhite {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	color:#FFFFFF;
}
.heading1white {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color:#FFFFFF;
}
.heading1red {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
}
.heading1blue {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #0000FF;
}
.heading1ltblue {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #0099FF;
}
.heading1drkgry {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: bold;
	color: #666666;
}
.heading2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color:#000000;
}
.heading2white {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color:#FFFFFF;
}
.heading2grey {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #999999;
}
.heading2red {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
}
.heading2blue {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #0000FF;
}
.heading3 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color:#000000;
}
.small {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#000000;
	font-style: normal;
	font-weight: normal;
}
.heading3white {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color:#FFFFFF;
}
.smallwhite {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#FFFFFF;
	font-style: normal;
	font-weight: normal;
}
.smallblue {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0000FF;
	font-style: normal;
	font-weight: normal;
}
.smallgrey {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#999999;
	font-style: normal;
	font-weight: normal;
}
.smallred {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
	font-style: normal;
	font-weight: normal;
}
.small2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color:#000000;
	font-style: normal;
	font-weight: normal;
}
.small2white {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color:#FFFFFF;
	font-style: normal;
	font-weight: normal;
}
.small2blue {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #0000FF;
	font-style: normal;
	font-weight: normal;
}
.tiny {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8px;
	color:#000000;
	font-style: normal;
	font-weight: normal;
}
.tinywhite {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8px;
	color:#FFFFFF;
	font-style: normal;
	font-weight: normal;
}
a:link, a:visited {
	color: #0066CC; font-size:12px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; text-decoration:none;
}
a:hover, a:active {
	color: #0000FF; font-size:12px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; text-decoration:none;
}
a.greylink{ color:#999999 }
a.whitelink{ color:#FFFFFF }
a.small{ size:7px; }

.icon{
	cursor:pointer;
	padding-top:0.25em;
	padding-right:2px;
	padding-left:2px;
}
#dhtmltooltip{
	position: absolute;
	border: 2px solid black;
	padding: 2px;
	background-color: lightyellow;
	visibility: hidden;
	z-index: 100;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}
/*defines the hover in nzbtable */
tr.on {background: #A8C2F2;}
tr.off {background: #F7F7F7;}
tr.on2 {background: #CC9999;}
td.off { background-image:none; }
tr.rowSelected {
	background:#0000FF;
	color:#FFFFFF;
}
tr.lightgrey { background-image:url(../graphics/lightgrey.png); }
tr.white { background-image:url(../graphics/white.png); }
.listingBatchBox {
	position:absolute;
	width:169px;
	height:106px;
	left:3px;
	top:-181px;
	z-index:10;
	border:solid 1px;
	background:#FFFFFF;
}
.listingCustomColumnhBox {
	position:absolute;
	width:1135px;
	height:44px;
	left:59px;
	top:-181px;
	z-index:11;
	border:solid 1px;
	background:#FFFFFF;
}
.listRow {
	background:url(../graphics/borderbtm.png) repeat-x bottom;
}
.listRowL {
	background:url(../graphics/borderbtml.png) no-repeat left bottom;
}
.listRowR {
	background:url(../graphics/borderbtmr.png) no-repeat right bottom;
}
.templateBatchBox {
	position:absolute;
	width:169px;
	height:123px;
	left:-188px;
	top:-59px;
	z-index:10;
	border:solid 1px;
	background:#FFFFFF;
}
.draggable {
 position: relative;
 width: 250px;
 height: 200px;
 background-color: #ccc;
 border: 1px solid #000;
}
.currencyTxtBox {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width:60px;
}
.Listing, a.Listing{
	color:#CCCCCC;
}
.ListingCompleted, a.ListingCompleted{
	color:#999966;
	font-weight:bold;
}
.ListingActive, a.ListingActive{
	color:#00CC00;
	font-weight:bold;
}
.ListingInActive, a.ListingInActive{
	color:#CCFF00;
	font-weight:bold;
}
.ListingRevised, a.ListingRevised{
	color:#FF9900;
	font-weight:bold;
}
.ListingNotReady, a.ListingNotReady{
	color:#FF0000;
	font-weight:bold;
}
.statusLightDiv, div.ListingStatusLightDiv, div.eBayGenInfoStatusLightDiv, div.eComStatusLightDiv, div.userAccountStatusLightDiv{
 width:20px;
 height:20px;
}
.unitLbl {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0000FF;
	font-style: normal;
	font-weight: normal;
}
.LoadingStatus, .userAccountLoadingStatus {
	width:20px
}
.NavBarImgTd {
border:none
}
.pricingRowTd {
padding-top:7px;
}
.jsTreeBox {
	font-family:Verdana !important;
	font-size:10px !important;
	background:white;
	border:1px solid gray;
	padding:5px 0;
	overflow:auto;
	margin:0px auto;
}
.jsTreeBox-myStore {
	background:white;
	border:1px solid gray;
	overflow:auto;
}
